
backend/calculator_main/__pycache__/urls.cpython-311.pyc
backend/calculator_main/__pycache__/models.cpython-311.pyc
backend/calculator_main/__pycache__/serializers.cpython-311.pyc
frontent/node_modules

